/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colors =====*/
  --first-color: #1f5b92;
  --second-color: #222222;
  --third-color: #f2f2f2;
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.grid {
  max-width: 1024px;
  display: grid;
  gap: 20px;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav-item {
  margin-bottom: var(--mb-4);
}

.nav-link {
  position: relative;
  color: #fff;
}

.nav-link:hover {
  position: relative;
}

.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav-logo {
  color: var(--second-color);
  font-size: var(--h2-font-size);
}

.nav-toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home-data {
  align-self: center;
  text-align: center;
}

.home-data p {
  margin-bottom: var(--mb-1);
}

.home-title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
}

.home-title-color {
  color: var(--first-color);
}

.home-social {
  display: flex;
  place-self: center;
}

.home-social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home-social-icon:hover {
  color: var(--first-color);
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about-container {
  row-gap: 2rem;
  text-align: center;
}

.about-subtitle {
  margin-bottom: var(--mb-2);
}

.about-img {
  justify-self: center;
}

.about-img img {
  width: 280px;
  border-radius: 50%;
}

.tab-titles {
  display: flex;
  place-self: center;
  margin-bottom: var(--mb-5);
}

.tab-titles p {
  font-size: 1.12rem;
  margin: auto;
}

.tab-link {
  margin-right: 50px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #1f5b92;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-link.active-link::after {
  width: 50%;
}

.tab-content ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 1.1rem;
}

.tab-content ul li span {
  color: #1f5b92;
  font-size: 0.9rem;
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
  padding-left: 43px;
  height: 400px;
}

/* ===== PROJECT =====*/
.projects-container {
  row-gap: 2rem;
  position: relative;
}

.project img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.layer {
  width: 100%;
  height: 0;
  background: var(--first-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
  cursor: pointer;
}

.layer h3 {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--third-color);
}

.layer p {
  color: var(--third-color);
}

.layer-link {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.layer-link a {
  padding: 5px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: var(--third-color);
}
.layer-link a:hover {
  transform: scale(1.2);
}

.project:hover .layer {
  height: 100%;
}

/* ===== CONTACT =====*/
.contact-input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact-button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-right: auto;
}
.contact-text ul li {
  display: flex;
  align-items: center;
}
.contact-text ul li a {
  padding-left: 10px;
  color: var(--second-color);
  font-weight: var(--font-semi);
  transition: 0.5s;
}

.contact-text ul li a:hover {
  opacity: 0.7;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer-copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home-social {
    padding-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .home-social {
    display: block;
  }
  .home-social-icon {
    padding: 10px;
  }
  .contact-text {
    margin-bottom: var(--mb-5);
  }

  .contact-text p {
    margin-bottom: var(--mb-4);
  }

  .contact-button {
    margin: auto;
  }

  .skills-img {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
  }
  .home-social-icon {
    margin-bottom: 0;
    padding: 10px;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills-container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
    padding-top: 20px;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact-form {
    width: 360px;
    padding-top: 2rem;
  }

  .contact-text {
    padding-top: 2rem;
    margin-bottom: var(--mb-2);
  }

  .contact-text p {
    margin-bottom: var(--mb-2);
  }

  .contact-container {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .nav-item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }

  .about-container {
    padding-top: 2rem;
  }
  .about-img img {
    width: 300px;
  }
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
}

@media screen and (max-width: 668px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
